{{ items | json }}

<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img class="slide-bg-image" src="https://image.tmdb.org/t/p/original/aTovumsNlDjof7YVoU5nW2RHaYn.jpg" alt="" />
    </div>
    <div class="slide-pane">
      <h2 class="name">Halloween Ends</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span class="app-icon">star</span> <span class="rating-value">7.5</span><span>/10</span></span
          >
          <span>463 Reviews</span>
          <span>2021</span>
        </div>
      </div>
      <div class="desc mt-6">
        Four years after the events of Halloween in 2018, Laurie has decided to liberate herself from fear and rage and
        embrace life. But when a young man is accused of killing a boy he was babysitting, it ignites a cascade of
        violence and terror that will force Laurie to finally confront the evil she can’t control, once and for all.
      </div>
    </div>
  </div>
</div>
